.nav-default {
  background-color: #000000;
  height: 80px;
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10; }
  @media screen and (max-width: 960px) {
    .nav-default {
      transition: 0.8s all ease; } }

.nav-scroll {
  background-color: transparent;
  height: 80px;
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10; }
  @media screen and (max-width: 960px) {
    .nav-scroll {
      transition: 0.8s all ease; } }

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
  align-items: center; }
  .navbar-container img {
    /*display: flex;
        justify-self: flex-start;*/
    cursor: pointer;
    height: 50px; }
  .navbar-container .nav-icon {
    display: none; }
    @media screen and (max-width: 768px) {
      .navbar-container .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff; } }
  .navbar-container .nav-linkScroll {
    color: #fff !important;
    display: inline-block;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    font-size: 1.5rem; }
    .navbar-container .nav-linkScroll:hover {
      color: #01bf71 !important;
      transition: 0.3s ease-out; }
    .navbar-container .nav-linkScroll.active {
      border-bottom: 3px solid #01bf71; }
    @media screen and (max-width: 1024px) {
      .navbar-container .nav-linkScroll {
        font-size: 20px; } }
    @media screen and (max-width: 830px) {
      .navbar-container .nav-linkScroll {
        font-size: 18px; } }
  .navbar-container .nav-btn {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .navbar-container .nav-btn {
        display: none; } }
    .navbar-container .nav-btn button {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 10px 22px;
      color: #010606;
      font-size: 16px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none; }
      .navbar-container .nav-btn button:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; }

ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px; }
  @media screen and (max-width: 768px) {
    ul {
      display: none; } }
  ul li {
    height: 80px; }

.nav-link-username {
  margin-right: 30px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #01bf71; }

.sidebar-container-default {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  top: -100%; }

.sidebar-container-opened {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  top: 0; }

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  color: #fff; }
  .icon:hover {
    color: #01bf71;
    transition: 0.2s ease-in-out; }

.sidebar-wrapper {
  color: #fff; }
  .sidebar-wrapper ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center; }
    @media screen and (max-width: 480px) {
      .sidebar-wrapper ul {
        grid-template-rows: repeat(6, 60px); } }
  .sidebar-wrapper .sidebar-link-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer; }
    .sidebar-wrapper .sidebar-link-scroll:hover {
      color: #01bf71;
      transition: 0.2s ease-in-out; }
  .sidebar-wrapper .sidebar-btn-wrap {
    display: flex;
    justify-content: center; }
    .sidebar-wrapper .sidebar-btn-wrap .sidebar-btn {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 16px 64px;
      color: #010606;
      font-size: 16px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none; }
      .sidebar-wrapper .sidebar-btn-wrap .sidebar-btn:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; }

.side-link-username {
  margin-right: 30px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #01bf71; }

button {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606; }

.hero-container {
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 800px;
  position: relative;
  z-index: 1; }
  .hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2; }
  @media screen and (max-width: 992px) {
    .hero-container {
      height: 700px; } }
  @media screen and (max-width: 768px) {
    .hero-container {
      height: 600px; } }
  @media screen and (max-width: 586px) {
    .hero-container {
      height: 500px; } }
  @media screen and (max-width: 420px) {
    .hero-container {
      height: 400px; } }

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .hero-bg video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34; }

.hero-content {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hero-content h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .hero-content h1 {
        font-size: 40px; } }
    @media screen and (max-width: 480px) {
      .hero-content h1 {
        font-size: 32px; } }
  .hero-content p {
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px; }
    @media screen and (max-width: 768px) {
      .hero-content p {
        font-size: 20px; } }
    @media screen and (max-width: 480px) {
      .hero-content p {
        font-size: 16px; } }
  .hero-content .hero-btn-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero-content .hero-btn-wrapper .signup-btn {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 12px 30px;
      color: #010606;
      font-size: 20px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      display: flex;
      align-items: center; }
      .hero-content .hero-btn-wrapper .signup-btn:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; }
      @media screen and (max-width: 768px) {
        .hero-content .hero-btn-wrapper .signup-btn {
          border-radius: 50px;
          background: #01bf71;
          white-space: nowrap;
          padding: 12px 30px;
          color: #010606;
          font-size: 18px;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          text-decoration: none; }
          .hero-content .hero-btn-wrapper .signup-btn:hover {
            transition: all 0.2s ease-in-out;
            background: #fff;
            color: #010606; } }
      @media screen and (max-width: 420px) {
        .hero-content .hero-btn-wrapper .signup-btn {
          border-radius: 50px;
          background: #01bf71;
          white-space: nowrap;
          padding: 12px 30px;
          color: #010606;
          font-size: 15px;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          text-decoration: none; }
          .hero-content .hero-btn-wrapper .signup-btn:hover {
            transition: all 0.2s ease-in-out;
            background: #fff;
            color: #010606; } }

.arrow-icon {
  margin-left: 8px;
  font-size: 20px; }

.content-page {
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; }

.icon-container {
  width: 100%;
  padding: 0 70px; }
  .icon-container .icon-wrapper ul {
    display: flex;
    justify-content: space-around;
    height: 250px; }
    @media screen and (max-width: 768px) {
      .icon-container .icon-wrapper ul {
        height: 200px; } }
    @media screen and (max-width: 420px) {
      .icon-container .icon-wrapper ul {
        height: 150px; } }
    @media screen and (max-width: 586px) {
      .icon-container .icon-wrapper ul img {
        height: 70px; } }
    @media screen and (max-width: 420px) {
      .icon-container .icon-wrapper ul img {
        height: 50px; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

.slides {
  position: relative;
  overflow: hidden;
  display: grid;
  height: 50vw; }
  .slides .slide {
    grid-area: 1 / 2;
    display: flex;
    align-items: center; }
  .slides button {
    cursor: pointer;
    position: absolute;
    top: 30%;
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5; }
    .slides button:hover {
      opacity: 1; }
    .slides button:focus {
      outline: none; }
    .slides button:first-child {
      left: 0%; }
    .slides button:last-child {
      right: 0%; }

.slideContent {
  width: 30vw;
  height: 70%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
  position: relative; }
  .slideContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2; }
  .slideContent .slideContentInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0; }
    .slideContent .slideContentInner .slideSubtitle,
    .slideContent .slideContentInner .slideTitle {
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 0.2ch;
      text-transform: uppercase;
      margin: 0; }
      @media screen and (max-width: 992px) {
        .slideContent .slideContentInner .slideSubtitle,
        .slideContent .slideContentInner .slideTitle {
          font-size: 1.5rem; } }
      @media screen and (max-width: 786px) {
        .slideContent .slideContentInner .slideSubtitle,
        .slideContent .slideContentInner .slideTitle {
          font-size: 1rem; } }
      @media screen and (max-width: 420px) {
        .slideContent .slideContentInner .slideSubtitle,
        .slideContent .slideContentInner .slideTitle {
          font-size: 0.7rem; } }
    .slideContent .slideContentInner .slideLink {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 10px 22px;
      color: #010606;
      font-size: 16px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      margin-top: 10px; }
      .slideContent .slideContentInner .slideLink:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; }

.slideBackground {
  position: absolute;
  top: 0;
  left: -100%;
  right: 0%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0.5;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir))); }

.slide[data-active] {
  z-index: 2;
  pointer-events: auto; }
  .slide[data-active] .slideBackground {
    opacity: 0.2;
    transform: none; }
  .slide[data-active] .slideContentInner {
    opacity: 1; }
  .slide[data-active] .slideContent {
    --x: calc(var(--px) - 0.3);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    transform: perspective(1000px); }
    .slide[data-active] .slideContent:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg)); }

.cinema {
  background: #010606;
  padding-top: 70px; }
  .cinema__block__left {
    overflow-y: scroll;
    height: 700px; }
  .cinema__block__left:hover::-webkit-scrollbar {
    width: 3px;
    background-color: lightgrey; }
  .cinema__block ::-webkit-scrollbar {
    width: 0;
    background-color: lightgrey; }
  .cinema__block ::-webkit-scrollbar-thumb {
    background-color: #01bf71;
    border-radius: 5px; }
  .cinema__detail {
    background-color: #fff;
    display: flex; }
    .cinema__detail__logo {
      width: 90px;
      height: 90px;
      border: 1px solid #ddd;
      padding: 20px; }
    .cinema__detail img {
      width: 50px; }
    .cinema__detail__info {
      display: flex;
      width: 100%;
      height: 90px;
      border: 1px solid #ddd;
      border-left: none;
      padding: 15px;
      padding-left: 20px; }
      .cinema__detail__info h5 {
        font-size: 14px;
        color: #000; }
      .cinema__detail__info span {
        color: #fb4226; }
      .cinema__detail__info p {
        font-size: 12px;
        color: #9b9b9b;
        margin: 0; }
      .cinema__detail__info a {
        font-size: 12px;
        color: #fb4226;
        text-decoration: none; }
    .cinema__detail__info:hover {
      opacity: 0.5; }
  .cinema__showtime {
    background: #fff;
    padding: 20px 15px 17px 20px;
    border: 1px solid #ddd;
    height: 700px;
    overflow-y: scroll; }
    .cinema__showtime hr {
      border-top: 1px solid #ddd; }
    .cinema__showtime__title {
      display: flex; }
      .cinema__showtime__title img {
        width: 50px;
        height: 50px; }
      .cinema__showtime__title__content {
        padding: 6px 0 0 20px; }
        .cinema__showtime__title__content span {
          background-color: #108f3e;
          color: #ffffff;
          padding: 0px 10px;
          border-radius: 4px; }
        .cinema__showtime__title__content h5 {
          font-size: 14px;
          color: #000;
          font-weight: 600; }
        .cinema__showtime__title__content p {
          font-size: 12px;
          color: #9b9b9b;
          font-weight: 600; }
    .cinema__showtime__slot {
      opacity: 0.5; }
      .cinema__showtime__slot__title {
        font-size: 16px;
        color: #000;
        font-weight: 600; }
      .cinema__showtime__slot button {
        background-color: rgba(246, 246, 246, 0.5);
        border-radius: 7px;
        border: 1px solid #e4e4e4;
        margin-right: 10px; }
      .cinema__showtime__slot a {
        text-decoration: none;
        color: #9b9b9b;
        font-size: 14px; }
      .cinema__showtime__slot span {
        font-size: 16px;
        color: #108f3e;
        font-weight: 600; }
    .cinema__showtime__slot:hover {
      opacity: 1; }
  .cinema__showtime:hover::-webkit-scrollbar {
    width: 3px;
    background-color: lightgrey; }
  @media screen and (max-width: 992px) {
    .cinema__detail__logo {
      height: 150px; }
    .cinema__detail__info {
      height: 150px; } }
  @media screen and (max-width: 768px) {
    .cinema__detail__logo {
      height: 100px; }
    .cinema__detail__info {
      height: 100px; } }

.footer-container {
  background-color: #101522; }

.footer-wrapper {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto; }

.footer-links-container {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 820px) {
    .footer-links-container {
      padding-top: 32px; } }

.footer-links-wrapper {
  display: flex; }
  @media screen and (max-width: 820px) {
    .footer-links-wrapper {
      flex-direction: column; } }

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 180px;
  box-sizing: border-box;
  color: #fff; }
  @media screen and (max-width: 865px) {
    .footer-link-items {
      width: 160px; } }
  @media screen and (max-width: 420px) {
    .footer-link-items {
      margin: 0;
      padding: 10px;
      width: 100%; } }

h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px; }

.footer-link {
  color: #fff;
  text-decoration: none !important;
  margin-bottom: 0.5rem;
  font-size: 14px; }
  .footer-link:hover {
    color: #01bf71;
    transition: 0.3s ease-out; }
  @media screen and (max-width: 420px) {
    .footer-link {
      font-size: 12px; } }

span {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px; }
  @media screen and (max-width: 420px) {
    span {
      font-size: 12px; } }

.social-media {
  max-width: 1000px;
  width: 100%; }
  .social-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto 0 auto; }
    @media screen and (max-width: 820px) {
      .social-media-wrapper {
        flex-direction: column; } }

.social-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold; }

.website-rights {
  color: #fff;
  margin-bottom: 16px; }

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px; }
  .social-icons a {
    color: #fff;
    font-size: 24px; }

.detail {
  background-image: linear-gradient(to top, #09203f 50%, #537895 100%); }
  .detail__content__img {
    height: 40vw; }
    .detail__content__img img {
      object-fit: cover;
      height: 100%;
      filter: blur(15px);
      width: 100%; }
  .detail__title {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vw;
    transform: translate3d(-50%, -50%, 0);
    z-index: 5; }
    .detail__title__left {
      display: flex;
      align-items: center; }
      .detail__title__left img {
        max-height: 25vw;
        object-fit: cover;
        border-radius: 10px; }
    .detail__title__center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #ffffff;
      font-size: 14px; }
      .detail__title__center__info span {
        font-size: 24px;
        font-weight: 600; }
      .detail__title__center__info span:first-child {
        background-color: #01bf71;
        color: #000000;
        font-size: 16px;
        border-radius: 4px;
        padding: 0 5px;
        display: inline-block;
        text-align: center;
        min-width: 33px; }
      .detail__title__center button {
        border-radius: 50px;
        background: #01bf71;
        white-space: nowrap;
        padding: 10px 22px;
        color: #010606;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none; }
        .detail__title__center button:hover {
          transition: all 0.2s ease-in-out;
          background: #fff;
          color: #010606; }
    .detail__title__right {
      text-align: center;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100%; }
  .detail__circle {
    font-size: 126px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .detail__circle__border {
      width: 111px;
      height: 111px;
      background: 0 0;
      border: 7.5px solid #3a3a3a;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .detail__circle span {
      position: absolute;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      line-height: 2.4em;
      font-size: .42em;
      color: #fff;
      display: block;
      text-align: center;
      white-space: nowrap; }
    .detail__circle__slice {
      width: 1em;
      height: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .detail__circle__slice__bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: .06em solid #7ed321;
        width: .88em;
        height: .88em;
        border-radius: 50%; }
  .detail__star {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; }
  .detail__info {
    margin-top: 3em;
    padding: 50px 0 50px 0; }
    .detail__info__menu span {
      color: #01bf71;
      padding: 15px;
      font-size: 20px;
      font-weight: 600; }
    .detail__info__content {
      color: #ffffff;
      font-size: 16px; }
    .detail__info__categories {
      padding: 0 15px; }
      .detail__info__categories span {
        font-weight: 600; }
    .detail__info__description {
      padding: 0 30px; }
      .detail__info__description span {
        font-weight: 600; }
  @media screen and (max-width: 992px) {
    .detail__title {
      top: 30%; }
      .detail__title__left {
        height: 300px; } }
  @media screen and (max-width: 910px) {
    .detail__title {
      top: 20%; }
      .detail__title__left {
        height: 300px; } }
  @media screen and (max-width: 768px) {
    .detail__content__img {
      position: relative; }
      .detail__content__img::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
        z-index: 2; }
      .detail__content__img img {
        filter: unset; }
    .detail__title {
      top: 30%; }
      .detail__title__left {
        display: none; }
      .detail__title__right {
        top: -30%; }
      .detail__title button {
        margin-top: 0; } }
  @media screen and (max-width: 660px) {
    .detail__title {
      top: 20%; } }
  @media screen and (max-width: 576px) {
    .detail__title__center button {
      font-size: 14px;
      margin-top: 0; }
    .detail__title__right {
      display: none; }
    .detail__info {
      margin-top: 0; }
      .detail__info__menu {
        display: flex;
        flex-direction: column; }
      .detail__info__content {
        font-size: 13px;
        margin-top: 0; } }
  @media screen and (max-width: 540px) {
    .detail__title {
      top: 20%; } }
  @media screen and (max-width: 440px) {
    .detail__title {
      top: 15%; }
      .detail__title__center__info span {
        font-size: 16px; }
      .detail__title__center__info p {
        font-size: 12px; }
      .detail__title__center button {
        font-size: 12px; } }

.detail__showtime {
  padding: 0 20px; }
  .detail__showtime h3 {
    color: #01bf71; }
  .detail__showtime .showtime__link {
    border-radius: 50px;
    background: #01bf71;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none; }
    .detail__showtime .showtime__link:hover {
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #010606; }
  @media screen and (max-width: 992px) {
    .detail__showtime h3 {
      font-size: 24px; } }
  @media screen and (max-width: 768px) {
    .detail__showtime h3 {
      font-size: 22px; }
    .detail__showtime span {
      display: none; } }

.signin-container {
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #019356 0%, #0ac97a 100%); }
  .signin-container .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 400px) {
      .signin-container .form-wrapper {
        height: 80%;
        margin-top: 25px; } }
    .signin-container .form-wrapper .signin-icon {
      margin-left: 32px;
      margin-top: 32px;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 32px; }
      @media screen and (max-width: 480px) {
        .signin-container .form-wrapper .signin-icon {
          margin-left: 16px;
          margin-top: 8px; } }
    .signin-container .form-wrapper .form-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 480px) {
        .signin-container .form-wrapper .form-content {
          padding: 10px; } }
      .signin-container .form-wrapper .form-content form {
        background: #010101;
        max-width: 400px;
        height: auto;
        width: 100%;
        z-index: 1;
        display: grid;
        margin: 0 auto;
        padding: 80px 32px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); }
        @media screen and (max-width: 400px) {
          .signin-container .form-wrapper .form-content form {
            padding: 32px 32px; } }
        .signin-container .form-wrapper .form-content form h1 {
          margin-bottom: 40px;
          color: #fff;
          font-size: 20px;
          font-weight: 400;
          text-align: center; }
        .signin-container .form-wrapper .form-content form label {
          margin-bottom: 8px;
          font-size: 14px;
          color: #fff; }
        .signin-container .form-wrapper .form-content form input {
          padding: 16px 16px;
          margin-bottom: 32px;
          border: none;
          border-radius: 4px; }
        .signin-container .form-wrapper .form-content form span {
          text-align: center;
          margin-top: 24px;
          color: #fff;
          font-size: 14px; }
        .signin-container .form-wrapper .form-content form button {
          border-radius: 50px;
          background: #01bf71;
          white-space: nowrap;
          padding: 10px 22px;
          color: #010606;
          font-size: 16px;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          text-decoration: none; }
          .signin-container .form-wrapper .form-content form button:hover {
            transition: all 0.2s ease-in-out;
            background: #fff;
            color: #010606; }

.signup-container {
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #019356 0%, #0ac97a 100%); }
  .signup-container .signup-wrapper {
    margin-top: 20px; }
    .signup-container .signup-wrapper .signup-icon {
      margin-top: 32px;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 32px; }
      @media screen and (max-width: 480px) {
        .signup-container .signup-wrapper .signup-icon {
          margin-left: 16px;
          margin-top: 8px;
          font-size: 25px; } }
  .signup-container .form-wrapper form {
    background: #010101;
    max-width: 100%;
    padding: 30px 30px 5px 30px; }
    .signup-container .form-wrapper form h1 {
      margin-bottom: 30px;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      text-align: center; }
    .signup-container .form-wrapper form label {
      margin-bottom: 8px;
      font-size: 14px;
      color: #fff; }
    .signup-container .form-wrapper form input {
      padding: 16px 16px;
      border: none;
      border-radius: 4px; }
    .signup-container .form-wrapper form small {
      color: red; }
    .signup-container .form-wrapper form .form-content {
      padding: 10px; }
    .signup-container .form-wrapper form .form-col2 {
      position: relative; }
    .signup-container .form-wrapper form button {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 10px 22px;
      color: #010606;
      font-size: 16px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
      .signup-container .form-wrapper form button:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; }
    @media screen and (max-width: 576px) {
      .signup-container .form-wrapper form {
        padding: 10px 10px 60px 10px; }
        .signup-container .form-wrapper form h1 {
          font-size: 16px;
          margin: 20px 0; }
        .signup-container .form-wrapper form label {
          font-size: 12px; }
        .signup-container .form-wrapper form .form-content {
          padding: 0 20px; } }
  @media screen and (max-width: 576px) {
    .signup-container {
      position: unset; } }

.ghe {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 10px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 0;
  height: 40px;
  width: 70px; }
  .ghe:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606; }
  @media screen and (max-width: 820px) {
    .ghe {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 0px 0px;
      color: #010606;
      font-size: 14px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      width: 40px;
      height: 40px; }
      .ghe:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; } }
  @media screen and (max-width: 520px) {
    .ghe {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 0px 0px;
      color: #010606;
      font-size: 12px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      width: 30px;
      height: 30px; }
      .ghe:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; } }
  @media screen and (max-width: 520px) {
    .ghe {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 0px 0px;
      color: #010606;
      font-size: 12px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      width: 25px;
      height: 25px; }
      .ghe:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; } }
  @media screen and (max-width: 400px) {
    .ghe {
      border-radius: 50px;
      background: #01bf71;
      white-space: nowrap;
      padding: 0px 0px;
      color: #010606;
      font-size: 10px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      width: 20px;
      height: 20px; }
      .ghe:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606; } }

.gheDaDat {
  background-color: red !important;
  cursor: no-drop !important; }

.gheVip {
  background-color: #e76102;
  color: #fff; }

.gheDangDat {
  background-color: #08bb08;
  color: #fff; }

.blank-section {
  background: #010606;
  height: 300px; }
  @media screen and (max-width: 768px) {
    .blank-section {
      height: 100px; } }

/*# sourceMappingURL=style.css.map */
