.content-page {
    width: 100%;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
}

.icon-container {
    width: 100%;
    padding: 0 70px;
    .icon-wrapper {
        ul {
            display: flex;
            justify-content: space-around;
            height: 250px;
            @media screen and (max-width: 768px) {
                height: 200px;
            }
            @media screen and (max-width: 420px) {
                height: 150px;
            }
            img {
                @media screen and (max-width: 586px) {
                    height: 70px;
                }
                @media screen and (max-width: 420px) {
                    height: 50px;
                }
            }
        }
    }
}