.sidebar-container-default {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    top: -100%;
}

.sidebar-container-opened {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    top: 0;
}

.icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    color: #fff;
    &:hover {
        color: #01bf71;
        transition: 0.2s ease-in-out;
    }
}

.sidebar-wrapper {
    color: #fff;
    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 80px);
        text-align: center;
        @media screen and (max-width: 480px) {
            grid-template-rows: repeat(6, 60px);
        }
    }
    .sidebar-link-scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        text-decoration: none;
        list-style: none;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: #01bf71;
            transition: 0.2s ease-in-out;
        }
    }
    .sidebar-btn-wrap {
        display: flex;
        justify-content: center;
        .sidebar-btn {
            border-radius: 50px;
            background: #01bf71;
            white-space: nowrap;
            padding: 16px 64px;
            color: #010606;
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            &:hover {
                transition: all 0.2s ease-in-out;
                background: #fff;
                color: #010606;
            }
        }
    }
}

.side-link-username {
    margin-right: 30px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #01bf71;
}

button {
    @include buttonHomePage(16px, #010606, #01bf71, 10px, 22px);
}